################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FarmAC1.8/bin/Debug/FarmAC1.8.exe
/FarmAC1.8/bin/Debug/FarmAC1.8.pdb
/FarmAC1.8/obj/Debug/FarmAC1.8.csproj.AssemblyReference.cache
/FarmAC1.8/obj/Debug/FarmAC1.8.csproj.CoreCompileInputs.cache
/FarmAC1.8/obj/Debug/FarmAC1.8.csproj.FileListAbsolute.txt
/FarmAC1.8/obj/Debug/FarmAC1.8.exe
/FarmAC1.8/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/FarmAC1.8/obj/Debug/FarmAC1.8.pdb
/.vs/FarmAC1.8/v16/.suo
