################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FarmAC1.8/bin/Debug/FarmAC1.8.exe
